/* Hide the Button */
.clearfix {
	display: none;
}

.wrapper {
	background: none;
	border-radius: 0;
}
.box-inner {
	border: none;
	border-radius: 0;
	padding: 0;
}
#project-name {
	display: none;
}
#project-description {
    display: none;
}

.progressbar {
	background: none;
    overflow: hidden;
    margin-bottom: 1rem;
    border-radius: .25rem;
    background-color: rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 0.1rem 0.1rem rgba(0,0,0,.1);
    height: 4rem;
    width: auto;
}
.progressbar-done {
    position: relative;
    height: 4rem;
    background-color: #ec6708;
    background-repeat: repeat;
    background-image: -webkit-linear-gradient( bottom left, rgba(255,255,255,.15) 25%, transparent 25%, transparent 50%, rgba(255,255,255,.15) 50%, rgba(255,255,255,.15) 75%, transparent 75%, transparent );
    background-image: -o-linear-gradient( bottom left, rgba(255,255,255,.15) 25%, transparent 25%, transparent 50%, rgba(255,255,255,.15) 50%, rgba(255,255,255,.15) 75%, transparent 75%, transparent );
    background-image: linear-gradient( to top right, rgba(255,255,255,.15) 25%, transparent 25%, transparent 50%, rgba(255,255,255,.15) 50%, rgba(255,255,255,.15) 75%, transparent 75%, transparent );
    background-size: 1rem 1rem;
    -webkit-animation: progressbar 2s linear infinite;
    animation: progressbar 2s linear infinite;
}
.progressbar-text-shadow {
    display: none !important;
}
.progressbar-text {
    top: 0;
    right: 0;
    width: 100%;
    text-align: center;
    line-height: 4rem;
    color: white;
}

#donation-goal {
    display: none;
}

@keyframes progressbar {
	0% {
    	background-position: 1rem 0;
	}
	100% {
    	background-position: 0 0;
	}
}











.progressbar-done:after {
    content: attr(width);
}